		#recorte{
      
      
		}

		.Aula{
			font-size: 16px;
			text-align: center;
			font-weight: bold;
		}

		#Progwebparwebdesign{

			background-color: #ffa98c;
			
		}
		#Desenvdegames{

			background-color: #f5fccf;  
			
		}
		#Analprogdesis{
			background-color: #bfc5ff;
		}

		#Nasa{
	    
			display: flex;
			background-color: #f5f4ce;
			box-shadow: 7px 7px 9px 0px black;
			font-weight: bold;
			font-size: 20px;
			text-align: center; 
			justify-content: center;
			pading: 2px;
		        
		}

		.nome{
			font-weight: bold;
			font-size: 20px;
			text-align: center; 
		}

		#pezin{

		    	background-color: sky blue;
			width: 100%;
        		color: white;
        
		}
